extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          p.lead Welcome to #{title}
          //- a(href="/") Go home
          br
          a(href="/flash") Ping
          br
          if (!user)
            a(href="/login") Login
            br
            //- a(href="/register") Register
          if (user)
            p You are currently logged in as #{user.username}
            a(href="/logout") Logout

  script
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });
