extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          p.lead YALESTAR'S CAVALCADE OF API WHIMSY AND RIBALDRY
          //- a(href="/") Go home
          br
          table.table
            thead Currently:
              tr
                th DATA
                th URL
                //- th WHAT DO
            tbody
              tr
                td Melt Banana Title
                td <a href="http://yalestar-api.herokuapp.com/v1/mb">/v1/mb</a>
                //- td Returns a random baffling Melt Banana song title
              tr
                td Don Cabellero Title
                td <a href="http://yalestar-api.herokuapp.com/v1/doncab">/v1/doncab</a>
                //- td Returns a random perplexing Don Caballero song title
              tr
                td Minutemen Title
                td <a href="http://yalestar-api.herokuapp.com/v1/minutemen/title">/v1/minutemen/title</a>
                //- td Returns a random Minutemen song title
              tr
                td Minutemen Lyrics
                td <a href="http://yalestar-api.herokuapp.com/v1/minutemen/lyrics">/v1/minutemen/lyrics</a>
                //- td Returns a random set of Minutemen lyrics
              tr
                td RV Name Generator
                td <a href="http://yalestar-api.herokuapp.com/v1/rv">/v1/rv</a>
              tr
                td Subdivision Name Generator
                td <a href="http://yalestar-api.herokuapp.com/v1/subd">/v1/subd</a>
              tr
                td Pokethulu Name Generator*
                td <a href="http://yalestar-api.herokuapp.com/v1/pokes">/v1/pokes</a>

              tr
                td Fantasy Name Generator*
                td <a href="http://yalestar-api.herokuapp.com/v1/fantasia">/v1/fantasia</a>

  p.indented * Mad ups to <a href="http://generators.christopherpound.com/pokethulhu.html">http://generators.christopherpound.com/pokethulhu.html</a>
  hr
  p.text-center I enthusiastically recommend and endorse <a href="http://stedolan.github.io/jq/">JQ</a> for all your command-line JSON processing
